body {
    margin: 0;
    background-color: #0c1121;
    font-family: "Open Sans Condensed";
}

.app-wrapper {
    text-align: center;
}

a{
    all: unset;
}
#icon{
    font-size: 36px !important;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#popup{
    padding: 10px;
}

.list-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0
}

.list-item {
    list-style:none;
    width: 100%;
    color: #fff;
    background-color: #414179;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.list-item a{
    display: flex;}

.img-wrapper {
    width: 25%;
    height: auto;
    margin: 5px;
}

.img-list{
    width: 100%;
    height:100%;
    border-radius: 10px;
}

.text-wrapper {
    width: 100%;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-wrapper-title{
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin:0;
}

/*
* tags parts
*/

.tags{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.tag {
    width: fit-content;
    color: white;
    padding: 7px;
    background: #191b90;
    border-radius: 10px;
    margin: 3px;
}

.close {
    background: #1d2340;
    color: red;
    margin-left: 7px;
    border-radius: 43%;
    padding: 3px;
    cursor: pointer;
}

/*
* Form section
*/

input {
    border: 0;
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 70%;
    margin: 10px 0px;
}

button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    border: 0;
    color:#fff;
    background-color: #191b90;
    cursor: pointer;
}

.url{
    color: #fff;
    font-weight: bold;
    margin: auto;
    width: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-anime-text{
    color: #fff;
    font-size: 17px;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
}
.alert-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    top: 23px;
    flex-direction: row-reverse;
    right: 20px;

}
.text-alert{
    color: #fff;
    margin-right: 5px;
    font-weight: bold;
}

.toggle-switch {
  --width: 53px;
  --height: 30px;
  position: relative;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  gap: 40px;
}
.toggle-switch input {
  position: relative;
  z-index: 1;
  appearance: none;
}
.toggle-switch span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6f6767;
  cursor: pointer;
  border-radius: var(--height);
  transition: 0.5;
}
.toggle-switch input:checked ~ span {
  background: #191b90;
}
.toggle-switch span i {
  position: absolute;
  width: calc(var(--height) - 8px);
  aspect-ratio: 1;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}
.toggle-switch span i:before {
  content: "off";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f6767;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-size: 10px;
  transition: 0.5s;
}
.toggle-switch input:checked ~ span i {
  left: calc((var(--width) - var(--height)) + 4px);
}
.toggle-switch input:checked ~ span i:before {
  content: "on";
  color: #191b90;
}
