.notif-wrapper{
    z-index:9999999999999999;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 42px;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c1121;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.close-notif {
    background: #1d2340;
    color: red;
    margin-left: 7px;
    border-radius: 43%;
    padding: 3px;
    cursor: pointer;
}